magicgui
pyqt5
qtpy
torch
torchvision
tensorboard
numpy
napari
scikit-image
dask
pandas
scipy
matplotlib
openpyxl
segmentation-models-pytorch
onnx
onnxruntime
opencv-python
scikit-learn
umap-learn
statsmodels
seaborn
tqdm
